.chatBox {
    width: 500px;
}

.chatBody {
    height: 500px;
    overflow: auto;
}

.head {
    text-align: center;
    background-color: #c5c6c6;
}

.mySend {
    display: inline-block;
    background-color: aqua;
}